body{
  
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

 .container {
  background-image: url("bg.jpg");
  text-align: center;
  margin-top: 7%;
  margin-left: -136px;
  padding-bottom: 3%;  
 }
.container input:hover{
  width: 31VW;
  height: 7vh;
}
 .container button{
   
  background-color: rgb(83, 52, 196);
  color: white;
  border-radius: 10px;
  width: 30vw;
  height: 6vh;
  margin: 10px;
  padding: 4px ;
  margin-left: 159px;
 }

  h2{
    text-align: center;
    font-size: 35px;
    color: rgb(71, 22, 187);
 }
 h3{
    text-align: center;
 }
 
 .navbar{
    background-color: rgb(71, 22, 187);
    

 }
 nav li{
    display: inline-block;
    border: 1px solid white;
    margin: 5px;
    padding: 5px;
    vertical-align: top;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
 }
 nav li:hover{
    background-color: white;
 }
 nav a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
 }
 nav a:hover{
    color: rgb(71, 22, 187);
 }
 .en_tete{
    color: white;
    width: 50%;
 }
 .en_tete_menu{
    text-align: right;
    vertical-align: top;
    width: 40%;
    margin-left: 50%;
 }

 