
.App {
  text-align: center;
}

 .container {
  background-image: url("bg.jpg");
  text-align: center;
  margin-top: 7%;
  margin-left: -136px;
  padding-bottom: 3%;  
 }
 
 .container button{
  background-color: rgb(83, 52, 196);
  color: white;
  border-radius: 10px;
  width: 30vw;
  height: 6vh;
  margin: 10px;
  padding: 4px ;
  margin-left: 159px;
 }

  
 h3{
    text-align: center;
    font-size: 30px;
 }
 
 .navbar{
    background-color: rgb(71, 22, 187);
    

 }
 nav li{
    display: inline-block;
    border: 1px solid white;
    margin: 5px;
    padding: 5px;
    vertical-align: top;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
 }
 nav li:hover{
    background-color: white;
 }
 nav a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
 }
 nav a:hover{
    color: rgb(71, 22, 187);
 }
 .container input{
  text-align: center;
  border: 1px solid rgb(71, 22, 187);
  border-radius: 5px;
  width: 30VW;
  height: 7vh;
  margin: 5px 0px 5px 5px;
  
  margin-left: 150px;
  
 }

.container input:hover{
  width: 31VW;
  height: 7vh;
}
 p{
   text-align: center;
   font-size: 25px;
   padding-left: 100px;
 }
 div .container{
   padding-top: 5%;
   height: 100%;
 }
 .footer p{
   font-size: 10px;
 }
 .footer{
   padding: 7px;
   margin-top: 70px;
   height: 100px;
   background-color: rgb(71, 22, 187);
 }
 
 